# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Editor temporary files
*~

# Dynamically generated .pro files
game_michaebq.pro

# Dynamically generated .cpp files
moc_mainwindow.cpp
moc_graphicswindow.cpp
moc_guipiece.cpp
moc_formwindow.cpp

# Project-specific executables
game_michaebq

# Dynamically generated .txt files
config.txt

# Dynamically generated .bak files
config.txt.bak

# Dynamically generated directories
html/
latex/
